@tailwind base;
@tailwind components;
@tailwind utilities;

nav#navbar .container {
  height: 58px;
  transition: height 300ms;
}

nav#navbar .container.active {
  height: 170px;
  transition: height 300ms;
}
